body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh;
}

header{
    position: sticky;
    top:0;
    padding: 30px;
    background-color: black;
    color: aliceblue;
    font-size: larger;
    text-align: center;
}


/* Best Practises
1. Use realtive for elements that move within the flow.
2. Use absolute insisde a positioned parent.
3. Use fixed for always visible elements.
4. Use sticky for navigation bars.
5. Use z-index only when necessary. */